.formCliente {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #e6f7f9;
  border: 1px solid #b0dfe6;
  width: 30em;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.formCliente input {
  width: 90%;
  border: 1px solid #ccc;
  height: 2.2rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.formCliente input:focus {
  border-color: #4aa3a3;
  outline: none;
}

.areaFormCliente {
  margin-top: 2rem;
}

.formCliente button {
  font-size: 1.2rem;
  border-radius: 0.7rem;
  background-color: #4aa3a3;
  color: white;
  border: none;
  padding: 0.7rem 2rem;
  margin-top: 1rem;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.formCliente button:hover {
  background-color: #388e8e;
  cursor: pointer;
  transform: translateY(-6px);
}

.formCliente input,
.formCliente label,
.formCliente button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #333;
}

.paginaAgendamento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f3fbfc;
  padding: 2rem;
}

.formCliente select {
  width: 90%;
  border: 1px solid #ccc;
  height: 2.2rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #333;
  transition: border-color 0.3s ease;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.formCliente select:focus {
  border-color: #4aa3a3;
  outline: none;
  background-color: #f0fafa;
}
.btnSalvar icon {
  font-size: 2rem;
}

.links {
  all: unset;
  color: blue;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s;
}

.links:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
