.atendimentos-container {
  padding: 2rem;
  font-family: "Segoe UI", sans-serif;
  color: #333;
}

.atendimentos-container h1 {
  color: #0066cc;
  margin-bottom: 1rem;
}

.atendimentos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.atendimentos-table th,
.atendimentos-table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

.atendimentos-table th {
  background-color: #f4f4f4;
  color: #333;
}
/* From Uiverse.io by Madflows */
/* From Uiverse.io by portseif */
/* From Uiverse.io by ferlagher */
.button {
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #043fbf;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #dedede;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button::before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgb(0, 62, 143) 50%,
    rgb(32, 51, 221) 60%
  );
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.button:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.button:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}
